<h1> Sustentabily </h1>

<div class="card" style="width: 40rem;">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.t2arquitetura.com.br%2Fexemplos-de-sustentabilidade-em-escritorios-corporativos%2F&psig=AOvVaw3rtFil0ffjunk4TLQYlDmR&ust=1711148898605000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCChsS8hoUDFQAAAAAdAAAAABAR" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nosso trabalho</h5>
        <p class="card-text">Inovação nas escolas.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

<div class="card" style="width: 40rem;">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fm.facebook.com%2Fgtmasfab%2F&psig=AOvVaw3rtFil0ffjunk4TLQYlDmR&ust=1711148898605000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNCChsS8hoUDFQAAAAAdAAAAABAh" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Nosso trabalho</h5>
        <p class="card-text">Inovação nas escolas.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>